* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

i {
    cursor: pointer;
    color: black;

}

h2 {
    margin: 10px;
}

.cart {
   font-size: 30px;
   position: relative;
   margin: 20px;
   background-color: #fff;
   border-radius: 4px;
}

.cartAmount {
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: aqua;
    font-size: 20px;
}

.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
}

@media (max-width: 1000px) {
    .shop {
      grid-template-columns: repeat(2, 223px);
    }
  }
  
  @media (max-width: 500px) {
    .shop {
      grid-template-columns: repeat(1, 223px);
    }
  }

.item {
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 20px;
}

.item img {
    width: 100%;
    border-radius: 2px 2px 0 0;
}

.details {
    margin: 8px;
}

.price-quantity {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.quantity, i {
    margin: 5px;
}

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.homeBtn, .checkout, .removeAll {
    background-color: black;
    color: #fff;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    margin: 5px;
}

.fa-xmark {
    color: red;
    font-weight: bold;
}



.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
   
}

.cart-item {
    border: 2px solid black;
    border-radius: 6px;
    display: flex;
}

.title-price-x {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-price {
    background-color: black;
    color: #fff;
    border-radius: 4px;
    padding: 3px 6px;
}

